<html>
    <head>
        <title>Cities</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <div class="container">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="notification is-danger">
                        {{message}}
                    </div>
                {% endif %}
                {% if message.tags == 'warning' %}
                    <div class="notification is-warning">
                        {{message}}
                    </div>
                {% endif %}    
                {% empty %}
            {% endfor %}
            <div class="box">
                <h1 class="title">Weather Tracker</h1>
            </div>
            <div class="box">
                <h1 class="title">Hello {{username}}! Your cities: </h1>
            </div>
            {% for city in cities %}
                <script type="text/javascript">
                    function onDelete() {
                        const id = "{{city.id|escapejs}}";
                        fetch(`http://weather-application22.herokuapp.com/${id}/`, 'DELETE')
                            .then(_ => {})                            
                    }
                </script>
                <a href="{% url 'city-detail' id=city.id %}">
                    <div class="box">
                        <h4>{{city}}</h4>      
                    </div>
                </a>
                <button class="button is-danger" onclick="onDelete()">Delete</button>  
                {% empty %}
                <div class="box">
                    <p>It seems that you have no cities. Try adding one!</p>
                </div>
            {% endfor %}
            <br>
            <form method="POST" class="box">
                <h1 class="title">Create City</h1>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="button is-primary" value="Add City">
            </form>
            <div class="box">
                <a href="{% url 'logout-action' %}" class="button is-link">Logout</a>
            </div>
        </div>
    </body>
</html>
