<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    
    <body>
        <div class="container">
            {% for message in messages %}
                <div class="notification is-danger">
                    <p>{{ message }}</p>
                </div>
                {% empty %}
            {% endfor %}
            <div class="box">
                <h1 class="title">Weather Tracker</h1>
            </div>
            <form method="post" class="box">
                <h1 class="title">Login</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button is-primary" value="Login">
            </form>
            <div class="box">
                <a href="{% url 'creation' %}" class="button is-link">Sign Up</a>
            </div>
        </div>
    </body>
</html>
